@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

h1.title{
    color: #4f4f4f;
    font-size: 24px;
    line-height: 36px;
    font-family: Poppins;
    font-weight: 500;
    margin: 53px 0 28px 0;
}